# eclipse generated directories
*[wW]orkspace*
*[pP]ackages*

# ignore complete build directory
build

# general software source dependencies
hal
FreeRTOS

# foxbms application development repos
foxBMS-documentation
foxBMS-hardware
foxBMS-primary
foxBMS-secondary
foxBMS-tools

#foxbms development repos
foxBMS-bootloader
foxBMS-can-bootloader
foxBMS-flashtool

# compiled python files
*.pyc

# log files from build steps
*.log

# waf related temporary files and directories
waf-*-*
.lock-waf_*